# RENAME TO .env WHEN RUNNING

# AlphaVantage API key - CONFIGURE
API_KEY="DHIGAHJSDGIAHSGJ"

# MongoDB URI - CONFIGURE
MONGO_URI="mongodb+srv://mongodb/server/uri"

# Port for Express server (may cause collision with WebPack, leave commented out for now)
# PORT=5000

# Logging level
LOG_LEVEL="debug"